.fondoGradiente{
    background: linear-gradient(rgb(0, 145, 29),rgb(62, 203, 90));
    background-repeat: no-repeat;
}

.fondoMenu{
    background-color: rgb(187, 245, 203);
}

.centrado{
    justify-content: center;
}

.conBorde{
    padding: 10px;
}

.anchoAltoFotoMain{
    max-width: 100%;
    max-height: fit-content;
    display: flex;
}

.linkVerde{
    color:rgb(0, 91, 17);
    font-style: normal;
}

.linkVerde:hover{
    color:rgb(0, 72, 13);
}
