p{
    text-align: justify;
}
li{
    list-style: none;
}
.fondoGradiente{
    background-color: rgb(255, 255, 255);
}

.fondoMenu{
    background-color: rgba(255, 255, 255, 0.758);
}

.fondoFooter{
    background-color: rgb(91, 143, 203);
}

.fullScreen{
    height: 100%;
}

.textoParrafo{
    color: rgb(0, 0, 0);
    font-style: italic;
}

.centrado{
    justify-content: center;
    text-align: center;
}

.conRedondeado{
    border-radius: 12px;
}

.margen{
    margin: 35px;
}

.margen1{
    margin: 13px;
}

.padding1{
    padding: 13px;
}

.proximamente{
    margin-left: 16px;
}

.conBorde{
    padding: 10px;
}

.anchoAltoFotoMain{
    max-width: 100%;
    max-height: fit-content;
    display: flex;
}

.linkVerde{
    color:rgb(0, 0, 0);
    font-style:italic;
    filter: contrast(100%);
}

.linkVerde:hover{
    filter: contrast(80%);
}

.iconoPropio{
    margin-top: -12px;
    padding-bottom: 3px;
    filter: contrast(100%);
}

.iconoPropio:hover{
    filter: contrast(80%);
}

.cuadroVideo{
    border-radius: 10px;
    margin: 5px;
}

.galleryImg {
    border-radius: 10px;
  }

.galleryImg:hover{
    z-index: 1000;
    transform: scale(1.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
  }

  .botonDescarga{
    border-width: medium;
    border-radius: 10px;
    font-size: larger;  
    filter: brightness(100%);  
  }

  .botonDescarga:hover{
    filter: brightness(70%);
  }

.botonLetra{
    margin: 10px;
    border-width: medium;
    border-radius: 50px;
    border-color: rgb(130, 196, 108);
    background: rgb(238, 255, 164);
    font-size: larger;
    color: green;
    filter: brightness(100%); 
}

.botonLetra:hover{
    filter: brightness(70%);
  }

  .alinear{
    align-items: center;
    justify-content: center;
  }

.girar{
    animation-duration: 3s;
    animation-name: giro;
    animation-iteration-count: infinite;
}
@keyframes giro {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

.saltar{
    animation: salto 5s infinite;
}
@keyframes salto {
    0%   {transform: scaleY(0.5);}
    25%  {transform: scaleY(1.5);}
    75%  {transform: scaleY(1);}
    100% {transform: scaleY(0.75);}
}

.caminar{
    animation: paso 3s infinite;
}
@keyframes paso {
    0%   {transform: translate(0px,0px);}
    10%  {transform: translate(40px,-10px);}
    20%  {transform: translate(80px,0px);}
    80%  {transform: translate(80px,0px);}
    90%  {transform: translate(40px,-10px);}
    100% {transform: translate(0px,0px);}
}